@using Newtonsoft.Json
@model List<NotasModel>;
@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script>
        var mensagemSucesso = @Html.Raw(JsonConvert.SerializeObject(TempData["MensagemSucesso"]))
        var mensagemErro = @Html.Raw(JsonConvert.SerializeObject(TempData["MensagemErro"]))

        if (mensagemSucesso != null && mensagemSucesso != '')
        {
            swal({
            title: 'Sucesso',
            text: mensagemSucesso,
            icon: 'success'
            });
        }
        else if (mensagemErro != null && mensagemErro != '')
        {
            swal({
            title: 'Falha',
            text: mensagemErro,
            icon: 'error'
            });
        }

    </script>
}



<div class="d-flex justify-content-end flex-column" style="width: 100vw;">
    <div class="d-flex flex-column" style="padding: 40px 100px; gap: 30px;">

        <div class="d-flex justify-content-between">
            <h2 style="font-weight: bold;">MINHAS NOTAS</h2>
            <a class="btn-nova-nota" asp-controller="Notas" asp-action="CriarNota"><img src="../../img/icon-add.svg" style="width: 15px;" /> Nova nota</a>
        </div>

        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column gap-2" style="width: 48%;overflow-y: auto;height: 343px;">

                @if (Model != null && Model.Any())
                {
                    foreach (NotasModel nota in Model)
                    {
                        <a role="button" class="preview-nota" asp-controller="Notas" asp-action="Carregar" asp-route-id="@nota.Id">
                            <h5>@nota.Titulo</h5>
                            <div style="display: flex; align-items: center; gap: 20px;">
                                <h6>@nota.DataCriacao</h6>
                            </div>
                        </a>
                    }
                }

            </div>

            @if (ViewData["SelectedNota"] != null)
            {
                var selectedNota = (NotasModel)ViewData["SelectedNota"];
                <form asp-controller="Notas" asp-action="Editar" class="visao-notas w-preview" method="post">
                    <input type="hidden" name="id" value="@selectedNota.Id" />
                    <input type="hidden" name="datacriacao" value="@selectedNota.DataCriacao" />
                    <input type="text" name="titulo" class="input-titulo" value="@selectedNota.Titulo" />
                    <textarea class="input-nota h-ipt-preview" name="descricao">@selectedNota.Descricao</textarea>
                    <div class="d-flex justify-content-between">
                        <a role="button" name="id" id="id" class="btn" onclick="ExcluirNota(@selectedNota.Id)">
                            <img src="../../img/icon-lixeira.svg" alt="Lixeira" style="width: 20px;" />
                        </a>
                        <button type="submit" class="btn w-50" style="background: #5D4C30; color: white">Salvar</button>
                    </div>
                </form>
            }
            else
            {
                <form class="visao-notas w-preview">
                    <input type="hidden" name="id" id="id"/>
                    <input type="hidden" name="datacriacao"/>
                    <input type="text" name="titulo" id="titulo" class="input-titulo" readonly/>
                    <textarea class="input-nota h-ipt-preview" name="descricao" id="descricao" readonly></textarea>
                    <div class="d-flex justify-content-between">
                        <a class="btn" style="cursor: auto;" name="id" id="id">
                            <img src="../../img/icon-lixeira-desativado.svg" alt="Lixeira" style="width: 20px;" />
                        </a>
                        <button type="submit" class="btn w-50" style="background: #A89F91; color: white" disabled>Salvar</button>
                    </div
                </form>
            }
        </div>
    </div>
</div>
