@model List<NotasModel>;
@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-end flex-column">
    <div class="d-flex">
        <div class="d-flex justify-content-center" style="flex: 1;">
            <img src="../img/logotipo.svg" alt="Logotipo NoteNest" style="width: 100%;max-width: 50px;object-fit: contain;" />
        </div>
        <div class="navbar">
            <a class="fw-bold fs-5 text-decoration-none texto-marrom btn">Home</a>

            <div class="d-flex align-items-center position-relative" style="cursor: pointer;gap: 0.5rem;" onclick="MostrarOpcoes()">
                <p class="d-flex mb-0 fw-bold fs-5 texto-marrom">Olá, Stephanie</p>
                <img src="../img/icon-seta.svg" style="margin-top: 0.2rem; width: 8%;">

                <div class="opcoes texto-marrom mostrar" id="opcoes">
                    <a asp-controller="Usuario" asp-action="DadosPessoais">Dados pessoais</a>
                    <a>Sair</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column" style="padding: 40px 100px; gap: 30px;">
        @if (TempData["mensagemSucesso"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
                @TempData["mensagemSucesso"]
            </div>
        }

        @if (TempData["mensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["mensagemErro"]
            </div>
        }

        <div class="d-flex justify-content-between">
            <h2 style="font-weight: bold;">MINHAS NOTAS</h2>
            <a class="btn-nova-nota" asp-controller="Notas" asp-action="CriarNota"><img src="../img/icon-add.svg" style="width: 15px;" /> Nova nota</a>
        </div>

        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column gap-2" style="width: 40%;overflow-y: auto;height: 355px;">

                @if (Model != null && Model.Any())
                {
                    foreach (NotasModel nota in Model)
                    {
                        <a class="preview-nota" data-id="@nota.Id" data-titulo="@nota.Titulo" data-conteudo="@nota.Descricao">
                            <h5>@nota.Titulo</h5>
                            <div style="display: flex; align-items: center; gap: 20px;">
                                <h6>@nota.DataCriacao</h6>
                            </div>
                        </a>
                        //parei aqui, estava dando falha ao entrar na página
                    }
                }

            </div>

            <form asp-controller="Notas" asp-action="Editar" class="visao-notas w-preview" method="post">
                <input type="hidden" name="id" id="id"/>
                <input type="hidden" name="datacriacao" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                <input type="text" name="titulo" id="titulo" class="input-titulo"/>
                <textarea class="input-nota h-ipt-preview" name="descricao" id="descricao"></textarea>
                <div class="d-flex justify-content-between">
                    <a role="button" name="id" id="id" class="btn" asp-route-id="" asp-controller="Notas" asp-action="Excluir"><img src="../img/icon-lixeira.svg" alt="Lixeira" style="width: 20px;" /></a>
                    <button type="submit" class="btn w-50" style="background: #5D4C30; color: white">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
