@model UsuarioModel;
@{
    ViewData["Title"] = "Dados pessoais";
}

<div class="d-flex justify-content-end flex-column">

    <div class="d-flex" style="padding: 25px 10%;">
        <a class="d-flex gap-3 text-decoration-none voltar" asp-controller="Notas" asp-action="Index">
            <img src="../img/seta-voltar.svg" style="width: 30px;" />Voltar
        </a>
    </div>

    <div class="d-flex justify-content-start">
        <h2 style="font-weight: bold; padding-left: 10%;">DADOS PESSOAIS</h2>
    </div>

    <div class="d-flex justify-content-center">
        <form asp-controller="Usuario" asp-action="Editar" class="d-flex flex-column cadastro p-5 w-50 rounded-3">
            <input type="hidden" name="id" value="@ViewBag.UsuarioID" readonly/>
            <div class="d-flex flex-column gap-3">
                <div class="d-flex flex-column">
                    <label for="nome" class="titulo-input">Nome:</label>
                    <input type="text" name="nome" class="border rounded-3 border-secondary ps-2" id="nome" value="@Model.Nome">
                </div>
                <div class="d-flex flex-column">
                    <label for="email" class="titulo-input">E-mail:</label>
                    <input type="email" name="email" class="border rounded-3 border-secondary ps-2" id="email" value="@Model.Email">
                </div>
                <div class="d-flex flex-column">
                    <label for="senha" class="titulo-input">Senha:</label>
                    <input type="password" name="senha" class="border rounded-3 border-secondary ps-2" id="senha" value="@Model.Senha">
                </div>
            </div>
            <div class="d-flex justify-content-between" style="margin-top: 25px;">
                <a role="button" asp-action="Excluir" asp-controller="Usuario" asp-route-id="@Model.Id" class="link-danger">Excluir conta</a>
                <button type="submit" class="botao-enter">Atualizar</button>
            </div>
        </form>
    </div>

</div>